In [2]:
import pandas as pd 
import matplotlib.pyplot as plt
plt.style.use('classic')
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv("crimes_df7.csv")
df.head(5)

,CMPLNT_FR_DT,CMPLNT_FR_TM,OFNS_DESC,Latitude,Longitude,PATROL_BORO,VIC_AGE_GROUP,VIC_RACE,VIC_SEX
0,09/04/2014,17:25:00,ASSAULT 3 & RELATED OFFENSES,40.685041,-73.921777,PATROL BORO BKLYN NORTH,25-44,WHITE,F
1,10/12/2016,07:40:00,GRAND LARCENY,40.636991,-74.134093,PATROL BORO STATEN ISLAND,45-64,WHITE HISPANIC,F
2,09/28/2012,13:30:00,GRAND LARCENY,40.823876,-73.891863,PATROL BORO BRONX,45-64,WHITE HISPANIC,F
3,03/24/2015,15:45:00,PETIT LARCENY,40.845707,-73.910398,PATROL BORO BRONX,<18,WHITE HISPANIC,F
4,05/20/2017,04:02:00,ASSAULT 3 & RELATED OFFENSES,40.763992,-73.828426,PATROL BORO QUEENS NORTH,25-44,BLACK,M

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6959143 entries, 0 to 6959142
Data columns (total 9 columns):
 #   Column         Dtype
---  ------         -----
 0   CMPLNT_FR_DT   object
 1   CMPLNT_FR_TM   object
 2   OFNS_DESC      object
 3   Latitude       float64
 4   Longitude      float64
 5   PATROL_BORO    object
 6   VIC_AGE_GROUP  object
 7   VIC_RACE       object
 8   VIC_SEX        object
dtypes: float64(2), object(7)
memory usage: 477.8+ MB

In [5]:
df.isnull().sum()

CMPLNT_FR_DT         648
CMPLNT_FR_TM          48
OFNS_DESC          18707
Latitude               0
Longitude              0
PATROL_BORO         5470
VIC_AGE_GROUP    1633505
VIC_RACE             308
VIC_SEX              307
dtype: int64

In [6]:
df = df.dropna()

In [7]:
df.isna().sum()

CMPLNT_FR_DT     0
CMPLNT_FR_TM     0
OFNS_DESC        0
Latitude         0
Longitude        0
PATROL_BORO      0
VIC_AGE_GROUP    0
VIC_RACE         0
VIC_SEX          0
dtype: int64

In [8]:
df.head()

,CMPLNT_FR_DT,CMPLNT_FR_TM,OFNS_DESC,Latitude,Longitude,PATROL_BORO,VIC_AGE_GROUP,VIC_RACE,VIC_SEX
0,09/04/2014,17:25:00,ASSAULT 3 & RELATED OFFENSES,40.685041,-73.921777,PATROL BORO BKLYN NORTH,25-44,WHITE,F
1,10/12/2016,07:40:00,GRAND LARCENY,40.636991,-74.134093,PATROL BORO STATEN ISLAND,45-64,WHITE HISPANIC,F
2,09/28/2012,13:30:00,GRAND LARCENY,40.823876,-73.891863,PATROL BORO BRONX,45-64,WHITE HISPANIC,F
3,03/24/2015,15:45:00,PETIT LARCENY,40.845707,-73.910398,PATROL BORO BRONX,<18,WHITE HISPANIC,F
4,05/20/2017,04:02:00,ASSAULT 3 & RELATED OFFENSES,40.763992,-73.828426,PATROL BORO QUEENS NORTH,25-44,BLACK,M

In [9]:
df.reset_index()

,index,CMPLNT_FR_DT,CMPLNT_FR_TM,OFNS_DESC,Latitude,Longitude,PATROL_BORO,VIC_AGE_GROUP,VIC_RACE,VIC_SEX
0,0,09/04/2014,17:25:00,ASSAULT 3 & RELATED OFFENSES,40.685041,-73.921777,PATROL BORO BKLYN NORTH,25-44,WHITE,F
1,1,10/12/2016,07:40:00,GRAND LARCENY,40.636991,-74.134093,PATROL BORO STATEN ISLAND,45-64,WHITE HISPANIC,F
2,2,09/28/2012,13:30:00,GRAND LARCENY,40.823876,-73.891863,PATROL BORO BRONX,45-64,WHITE HISPANIC,F
3,3,03/24/2015,15:45:00,PETIT LARCENY,40.845707,-73.910398,PATROL BORO BRONX,<18,WHITE HISPANIC,F
4,4,05/20/2017,04:02:00,ASSAULT 3 & RELATED OFFENSES,40.763992,-73.828426,PATROL BORO QUEENS NORTH,25-44,BLACK,M
...,...,...,...,...,...,...,...,...,...,...
5312964,6959136,03/02/2014,20:30:00,ROBBERY,40.816392,-73.895296,PATROL BORO BRONX,45-64,BLACK,M
5312965,6959137,03/13/2013,12:00:00,GRAND LARCENY,40.583360,-73.951446,PATROL BORO BKLYN SOUTH,25-44,WHITE,F
5312966,6959139,12/20/2012,13:30:00,ASSAULT 3 & RELATED OFFENSES,40.648648,-73.967731,PATROL BORO BKLYN SOUTH,25-44,BLACK,F
5312967,6959140,04/04/2013,13:00:00,PETIT LARCENY,40.716045,-73.964163,PATROL BORO BKLYN NORTH,45-64,WHITE,M
5312968,6959142,08/19/2012,01:00:00,ASSAULT 3 & RELATED OFFENSES,40.667573,-73.907296,PATROL BORO BKLYN NORTH,25-44,BLACK,F

In [10]:
df = pd.get_dummies(df,columns=['PATROL_BORO'])

In [11]:
df = pd.get_dummies(df,columns=['VIC_SEX'])

In [12]:
df = pd.get_dummies(df,columns=['VIC_RACE'])

In [13]:
import datetime
import calendar

In [14]:
result_month=[]
result_year=[]
result_day=[]
for i in df['CMPLNT_FR_DT']:
    month,day,year=i.split('/')
    result_month.append(month)
    result_year.append(year)
    result_day.append(day)

In [15]:
df['month']=result_month
df['year']=result_year
df['day']=result_day

In [16]:
df.head()

,CMPLNT_FR_DT,CMPLNT_FR_TM,OFNS_DESC,Latitude,Longitude,VIC_AGE_GROUP,PATROL_BORO_PATROL BORO BKLYN NORTH,PATROL_BORO_PATROL BORO BKLYN SOUTH,PATROL_BORO_PATROL BORO BRONX,PATROL_BORO_PATROL BORO MAN NORTH,...,VIC_RACE_ASIAN / PACIFIC ISLANDER,VIC_RACE_BLACK,VIC_RACE_BLACK HISPANIC,VIC_RACE_OTHER,VIC_RACE_UNKNOWN,VIC_RACE_WHITE,VIC_RACE_WHITE HISPANIC,month,year,day
0,09/04/2014,17:25:00,ASSAULT 3 & RELATED OFFENSES,40.685041,-73.921777,25-44,1,0,0,0,...,0,0,0,0,0,1,0,09,2014,04
1,10/12/2016,07:40:00,GRAND LARCENY,40.636991,-74.134093,45-64,0,0,0,0,...,0,0,0,0,0,0,1,10,2016,12
2,09/28/2012,13:30:00,GRAND LARCENY,40.823876,-73.891863,45-64,0,0,1,0,...,0,0,0,0,0,0,1,09,2012,28
3,03/24/2015,15:45:00,PETIT LARCENY,40.845707,-73.910398,<18,0,0,1,0,...,0,0,0,0,0,0,1,03,2015,24
4,05/20/2017,04:02:00,ASSAULT 3 & RELATED OFFENSES,40.763992,-73.828426,25-44,0,0,0,0,...,0,1,0,0,0,0,0,05,2017,20

In [17]:
VIC_AGE_GROUP_mapping ={'25-44':0, '45-64':1, '<18':2, '18-24':3, 'UNKNOWN':4, '65+':5,'1014':6, '-931':7, '-972':8}
df['VIC_AGE_GROUP']=df['VIC_AGE_GROUP'].map(VIC_AGE_GROUP_mapping)
df = df[df.VIC_AGE_GROUP != 8]
df = df[df.VIC_AGE_GROUP != 7]
df = df[df.VIC_AGE_GROUP != 6]

In [18]:
all_crimes = ["assualt","grand larency","petit larency",
        "harrasment","exposed to weapons","criminal crimes","public safty crimes","administrative crimes","vehical crimes",
        "drugs and alcaholic crimes","theif and robbery ","kidnapping","frauds","children crimes"]
df_mapping ={#assualt
           'ASSAULT 3 & RELATED OFFENSES':0,'FELONY ASSAULT':0,'OFFENSES AGAINST THE PERSON':0,
             #grand larency
             'GRAND LARCENY':1, 
             #petit larency
             'PETIT LARCENY':2,'PETIT LARCENY OF MOTOR VEHICLE':2,
             #harrasment
            'HARRASSMENT 2':3,
            #sex crime
           'SEX CRIMES':4,'RAPE':4,'PROSTITUTION & RELATED OFFENSES':4,
             #exposed to weapons
            'DANGEROUS WEAPONS':5, 'BURGLARY':5,
             #criminal crimes
       'CRIMINAL MISCHIEF & RELATED OF':7,'CRIMINAL TRESPASS':7,
        #public safty crimes
       'OFF. AGNST PUB ORD SENSBLTY &':9, 'OFFENSES AGAINST PUBLIC SAFETY':9, 'LEWDNESS,PUBLIC':9, 'ARSON':9,'JOSTLING':9, 
        #administrative crimes
       'MISCELLANEOUS PENAL LAW':11, 'OFFENSES AGAINST PUBLIC ADMINI':11,  'ADMINISTRATIVE CODE':11,
        #vehical crimes     
       'VEHICLE AND TRAFFIC LAWS':13, 'DISORDERLY CONDUCT':13,'HOMICIDE-NEGLIGENT-VEHICLE':13,'UNAUTHORIZED USE OF A VEHICLE':13,'GRAND LARCENY OF MOTOR VEHICLE':13, 'INTOXICATED & IMPAIRED DRIVING':13, 
        #drugs and alcaholic crimes 
        'DANGEROUS DRUGS':16,'ALCOHOLIC BEVERAGE CONTROL LAW':16,
        #theif and robbery
       'OTHER OFFENSES RELATED TO THEF':17,'THEFT-FRAUD':17,'THEFT OF SERVICES':17, 'ROBBERY':17,'POSSESSION OF STOLEN PROPERTY':17,"BURGLAR'S TOOLS":17,
       #kidnapping
       'KIDNAPPING & RELATED OFFENSES':27,
        #frauds
       'FORGERY':30,'FRAUDULENT ACCOSTING':30, 'FRAUDS':30,'OFFENSES INVOLVING FRAUD':30,
         #childern crimes
        'OFFENSES RELATED TO CHILDREN':37,'CHILD ABANDONMENT/NON SUPPORT':37,
       'AGRICULTURE & MRKTS LAW-UNCLASSIFIED':41,'OTHER STATE LAWS (NON PENAL LA':36,'NYS LAWS-UNCLASSIFIED FELONY':29,'FALSE REPORT UNCLASSIFIED':47,'HOMICIDE-NEGLIGENT,UNCLASSIFIE':52, 'THEFT OF SERVICES, UNCLASSIFIE':54,'LOITERING':43, 'OTHER STATE LAWS':55,'NOISE,UNECESSARY':49, 'TAX LAW':50, 'NYS LAWS-UNCLASSIFIED VIOLATION':51,'ENDAN WELFARE INCOMP':45,'GAMBLING':35}

In [19]:
df['OFNS_DESC']=df['OFNS_DESC'].map(df_mapping)
df = df[df.OFNS_DESC != 43]
df = df[df.OFNS_DESC != 48]
df = df[df.OFNS_DESC != 49]
df = df[df.OFNS_DESC != 50]
df = df[df.OFNS_DESC != 55]
df = df[df.OFNS_DESC != 52]
df = df[df.OFNS_DESC != 54]
df = df[df.OFNS_DESC != 41]
df = df[df.OFNS_DESC != 51]

df = df[df.OFNS_DESC != 36]
df = df[df.OFNS_DESC != 45]
df = df[df.OFNS_DESC != 47]
df = df[df.OFNS_DESC != 29]
df = df[df.OFNS_DESC != 35]

In [20]:
L=["morning","afternoon","evening","night"]
result=[]
for x in df.CMPLNT_FR_TM:
        
    times=x.split(':')
    if int(times[0])>6 and int(times[0])<=12:
        result.append(L[0])
    elif int(times[0])>12 and int(times[0])<=17:
        result.append(L[1])
    elif int(times[0])<20:
        result.append(L[2])
    else : 
        result.append(L[3])

In [21]:
df['time_zone']=result

In [22]:
time_zone_mapping ={'afternoon':0, 'morning':1, 'evening':2, 'night':3}
df['time_zone']=df['time_zone'].map(time_zone_mapping)

In [23]:
df.dropna()
df = df.fillna(df.median())

C:\Users\ci\AppData\Local\Temp/ipykernel_6756/3409838784.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df = df.fillna(df.median())

In [24]:
from sklearn.model_selection import train_test_split

#Split dataset to Training Set & Test Set
x, y = train_test_split(df, 
                        test_size = 0.2, 
                        train_size = 0.8, 
                        random_state= 3)
Features=['Latitude', 'Longitude',
       'VIC_AGE_GROUP', 'VIC_SEX_D', 'VIC_SEX_E',
       'VIC_SEX_F', 'VIC_SEX_M', 'VIC_RACE_AMERICAN INDIAN/ALASKAN NATIVE',
       'VIC_RACE_ASIAN / PACIFIC ISLANDER', 'VIC_RACE_BLACK',
       'VIC_RACE_BLACK HISPANIC', 'VIC_RACE_UNKNOWN', 'VIC_RACE_WHITE',
       'VIC_RACE_WHITE HISPANIC', 'month', 'year', 'day', 'time_zone']
Target= ['OFNS_DESC']

In [25]:
df.head()

,CMPLNT_FR_DT,CMPLNT_FR_TM,OFNS_DESC,Latitude,Longitude,VIC_AGE_GROUP,PATROL_BORO_PATROL BORO BKLYN NORTH,PATROL_BORO_PATROL BORO BKLYN SOUTH,PATROL_BORO_PATROL BORO BRONX,PATROL_BORO_PATROL BORO MAN NORTH,...,VIC_RACE_BLACK,VIC_RACE_BLACK HISPANIC,VIC_RACE_OTHER,VIC_RACE_UNKNOWN,VIC_RACE_WHITE,VIC_RACE_WHITE HISPANIC,month,year,day,time_zone
0,09/04/2014,17:25:00,0.0,40.685041,-73.921777,0.0,1,0,0,0,...,0,0,0,0,1,0,09,2014,04,0
1,10/12/2016,07:40:00,1.0,40.636991,-74.134093,1.0,0,0,0,0,...,0,0,0,0,0,1,10,2016,12,1
2,09/28/2012,13:30:00,1.0,40.823876,-73.891863,1.0,0,0,1,0,...,0,0,0,0,0,1,09,2012,28,0
3,03/24/2015,15:45:00,2.0,40.845707,-73.910398,2.0,0,0,1,0,...,0,0,0,0,0,1,03,2015,24,0
4,05/20/2017,04:02:00,0.0,40.763992,-73.828426,0.0,0,0,0,0,...,1,0,0,0,0,0,05,2017,20,2

In [26]:
x1 = x[Features]    #Features to train
x2 = x[Target]      #Target Class to train
y1 = y[Features]    #Features to test
y2 = y[Target]      #Target Class to test

print('Feature Set Used    : ', Features)
print('Target Class        : ', Target)
print('Training Set Size   : ', x.shape)
print('Test Set Size       : ', y.shape)

Feature Set Used    :  ['Latitude', 'Longitude', 'VIC_AGE_GROUP', 'VIC_SEX_D', 'VIC_SEX_E', 'VIC_SEX_F', 'VIC_SEX_M', 'VIC_RACE_AMERICAN INDIAN/ALASKAN NATIVE', 'VIC_RACE_ASIAN / PACIFIC ISLANDER', 'VIC_RACE_BLACK', 'VIC_RACE_BLACK HISPANIC', 'VIC_RACE_UNKNOWN', 'VIC_RACE_WHITE', 'VIC_RACE_WHITE HISPANIC', 'month', 'year', 'day', 'time_zone']
Target Class        :  ['OFNS_DESC']
Training Set Size   :  (4245077, 30)
Test Set Size       :  (1061270, 30)

In [27]:
print(len(y[Features].columns))

18

In [28]:
y1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1061270 entries, 2320668 to 1718177
Data columns (total 18 columns):
 #   Column                                   Non-Null Count    Dtype
---  ------                                   --------------    -----
 0   Latitude                                 1061270 non-null  float64
 1   Longitude                                1061270 non-null  float64
 2   VIC_AGE_GROUP                            1061270 non-null  float64
 3   VIC_SEX_D                                1061270 non-null  uint8
 4   VIC_SEX_E                                1061270 non-null  uint8
 5   VIC_SEX_F                                1061270 non-null  uint8
 6   VIC_SEX_M                                1061270 non-null  uint8
 7   VIC_RACE_AMERICAN INDIAN/ALASKAN NATIVE  1061270 non-null  uint8
 8   VIC_RACE_ASIAN / PACIFIC ISLANDER        1061270 non-null  uint8
 9   VIC_RACE_BLACK                           1061270 non-null  uint8
 10  VIC_RACE_BLACK HISPANIC                  1061270 non-null  uint8
 11  VIC_RACE_UNKNOWN                         1061270 non-null  uint8
 12  VIC_RACE_WHITE                           1061270 non-null  uint8
 13  VIC_RACE_WHITE HISPANIC                  1061270 non-null  uint8
 14  month                                    1061270 non-null  object
 15  year                                     1061270 non-null  object
 16  day                                      1061270 non-null  object
 17  time_zone                                1061270 non-null  int64
dtypes: float64(3), int64(1), object(3), uint8(11)
memory usage: 75.9+ MB

In [29]:
# Random Forest
# Create Model with configuration
from sklearn.ensemble import RandomForestClassifier,VotingClassifier

rf_model = RandomForestClassifier(n_estimators=30, # Number of trees
                                  min_samples_split = 20,
                                  bootstrap = True, 
                                  max_depth = 50, 
                                  min_samples_leaf = 25)
# Model Training
rf_model.fit(X=x1,y=x2)

C:\Users\ci\AppData\Local\Temp/ipykernel_6756/1888977239.py:11: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rf_model.fit(X=x1,y=x2)

RandomForestClassifier(max_depth=50, min_samples_leaf=25, min_samples_split=20,
                       n_estimators=30)

In [30]:
# Prediction
result = rf_model.predict(y[Features])

In [31]:
from sklearn.metrics import precision_score, recall_score, confusion_matrix, classification_report, accuracy_score, f1_score
# Model Evaluation
ac_sc = accuracy_score(y2, result)
rc_sc = recall_score(y2, result, average="weighted")
pr_sc = precision_score(y2, result, average="weighted")
f1_sc = f1_score(y2, result, average='micro')
confusion_m = confusion_matrix(y2, result)

print("========== Random Forest Results ==========")
print("Accuracy    : ", ac_sc)
print("Recall      : ", rc_sc)
print("Precision   : ", pr_sc)
print("F1 Score    : ", f1_sc)
print("Confusion Matrix: ")
print(confusion_m)

C:\Users\ci\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1248: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

========== Random Forest Results ==========
Accuracy    :  0.2949013917287778
Recall      :  0.2949013917287778
Precision   :  0.3193320029665374
F1 Score    :  0.2949013917287778
Confusion Matrix:
[[112908   6793  19227  42953    676    216   4213    329    144     97
    1145   1784      0     15      0]
 [ 26437  24669  26704  24876    169    315   2661    229      1     13
      84    659      0      1      0]
 [ 44250  14577  67274  34663    177    349   5950    238      2     38
     267   1022      0      0      0]
 [ 62179  10003  21122  67698    570    292   4588    430      4     18
      89    918      0      1      0]
 [  6903   1335    559   3444   7470      7     74     35      1      9
     114    136      0      0      0]
 [ 10171   3235  12638   9830     16   1008   2278    123     19    415
    5040    219      0     47      0]
 [ 32907   3696  27136  26907     31    313  12012    170     23    332
    4771    498      0     36      0]
 [ 25911   4791   8984  26264    274    191   1867    519      9     83
     789    204      0     11      0]
 [ 15841   1524   3847  16168    100    220   1584    129    529    284
    3680    118      0     52      0]
 [ 14969   1604  10106   8195     55    224   3264     44      5   1650
    3033    327      0     23      0]
 [   223     18    198    104      2    123    939      0     22    485
   14361      7      0     47      0]
 [ 31308   4553  12642  10523    181    152   2380    129      2     47
     791   2735      0      6      0]
 [   251     19     39    156      8      3      3      4      0      0
       0      4      0      0      0]
 [  1586   1310   2492   2356     18    172    853     36     10    288
    3850     50      0    137      0]
 [    76      3      8     11      5      5      3      0      0      2
      65      1      0      1      0]]

In [32]:
import pickle
with open('location_model.pickle','wb') as f:
    pickle.dump(rf_model,f)